.wrap {
    border-left: 1px solid #3b3d40;
    height: 1000px;
}
.table {
    width: 355px;
    border-collapse: collapse;
    padding-left: 10px;

}
.table th {
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
    font-weight: normal;
    text-align: left;
    padding-left: 7px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #3b3d40;
}

.table td {
    font-size: 14px;
    color: #fff;
    opacity: 0.3;
    padding: 7px;
}

.table tr:hover td {
   opacity: 1;
}
 .tit{
    font-size: 30px;
    color: #fff;
     opacity: 0.5;
     height: 100px;
     line-height: 100px;
     border-bottom: 1px solid #3b3d40;
     padding-left: 18px;
}

.table tr td:first-child ,.table tr th:first-child {
    padding-left: 18px;
}


