
.superiorityport{
    width: 360px;
    height: 620px;
    float: left;
}

.superiorityport:hover{
    box-shadow: 0 0 5px 5px rgba(82,98,255,0.1);
}
.suppicon{
    margin-top: 90px;
    color:#5a6ffe;
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding-top: 20px;
}
.suppicon>img{
    margin: 0 auto;
    width: 112px;
    height: 112px;
    display: block;
}
.suppfont{
    margin-top: 27px;
    text-align: center;
}
.suppftitle{
    font-size: 36px;
    color:#3b3d40;

}
.suppfcontent{
    width: 260px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 18px;
    color:#aaa;
}
.suppfcontent>span{
    display: block;
}

@media all and (max-width: 1080px){
    .superiorityport{
        width: 33.3%;

    }
    .suppfcontent{
        width: 100%;
    }
}