.header {
    height: 80px;
    padding-left: 36px;
    border-bottom: 1px solid #808080;
    position: absolute;
    width: 100%;
    z-index: 2;

}

.header.fixed {
    color: #656b6f;
    position: fixed;
    background: #fff;
}

.logo {
    float: left;
    padding-top: 15px;
}

.headerRight {
    float: right;
    line-height: 79px;
}
.headerRight > a {
    margin-right: 70px;
    font-size: 18px;
}
.headerRight > a:first-child {
    margin-right: 45px;
}
.headerRight > a:hover {
    color: #5262ff;
    cursor: pointer;
}

.headerRight > a.checked:hover {
    color: #fff;
    background: #5262ff;
    border: 1px solid #5262ff;
}
.headerRight > a.isPand:hover {
    color: #fff;
}
.login {
    padding-left: 40px;
    border-left: 2px solid #808080;
}

.checked {
    padding: 10px;
    border: 1px solid #656b6f;
    border-radius: 5px;
}

.headerRight .isPand {
    height: 79px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-right: 0px;
    background: #5262ff;
    color: #fff;

}