.footer {
    background-color:#3b3d40;
    font-size: 14px;
}
.footerIn {
    composes: clearfloat from '../../common.css';
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.footerInLeft  {
    float: left;
    width: 70%;
}

.footerInRight  {
    float: right;
    width: 20%;
    margin-left: 10%;
    border-left: 1px solid #808080;
    padding-left: 60px;
    text-align: center;
    padding-top: 17px;
}

.erwei{
    padding-top: 20px;
    padding-bottom: 30px;
}

.list li  {
    display: inline-block;
    padding-right: 10%;
    cursor: pointer;
}

.des {
    padding-top: 20px;
    padding-bottom: 15px;
}
.line {
    border: 1px solid #808080;
    width: 100px;
}
.paper {
    padding-top: 20px;
}
.email {
    padding-bottom: 20px;
}